.container{width: 1100px; margin: auto;}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 180px;
    transition: .4s;
    border-bottom: rgba(128, 128, 128, 0.493);

    a{
        color: black !important;
        padding: 12px 16px;
        display: block;
        font: 400 14px "Open Sans";
        transition: .4s;
    }
}

.dropdown-content a:hover{
    background-color: #ff7404;
    
    a{
        color: #fff !important;
    }
}


.dropdown:hover .dropdown-content {
    display: block;
}

#main-bg-img{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/foody-bg.webp") center/cover;
    height: 100vh;
}

.header-height{
    height: 140px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
        text-decoration: none;
    }
}

.nav-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    height: 140px;

    a{
        color: #fff;
        font: 400 16px "Open Sans";
    }
}

.logo{
    font: 800 32px "Open Sans";
    color: #fff;
    letter-spacing: 0.2em;
}

.nav-home{
    color: #ff7404 !important;
}

.header-contact{
    background-color: #ff7404;
    color: #fff;
    transition: .4s;
    padding: 15px 20px;
    font: 400 13px "Open Sans";
}

.header-contact:hover{
    background-color: #fff;
    color: #ff7404;
}

/*main1*/

.main1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 60vh;
    width: 730px;
    margin: auto;
    color: #fff;

    h1{
        font: 800 80px "Open Sans";
    }

    p{
        font: 300 20px "Open Sans";
    }

    a{
        text-decoration: none;
        font: 400 13px "Open Sans";
        color: #fff;
        border: 2px solid #fff;
        background-color: transparent;
        padding: 11px 19px;
        transition: .4s;
    }

    a:hover{
        background-color: #fff;
        color: black;
    }
}

/*options*/

.options-bg{
    clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
    background-color: #f8f9fa;
    height: 700px;
    margin-top: -140px;
}

.option-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    height: 700px;
    width: 285px;

    i{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 28px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #ff7404;
    }

    h2{
        font: 500 16px "Open Sans";
        color: #ff7404;
        padding: 30px 0 10px 0;
        letter-spacing: .2rem;
    }

    p{
        font: 400 15px "Open Sans";
        color: #868e96;
        line-height: 25px;
    }
}

.option-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*restaurant*/

.restaurant{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
    text-align: center;

    hr{
        width: 80px;
        height: 2px;
        background-color: #ff7404 !important;
        
    }

    h3{
        font: 800 50px "Open Sans";
        color: black;
    }

    p{
        font: 400 15px "Open Sans";
        color: #868e96;
        line-height: 29px;
        width: 635px;
        margin: auto;
        padding-bottom: 50px;
    }
}

.restaurant-img{

    display: flex;
    justify-content: space-between;
    img{
        width: 350px;
        height: 466px;
    }
}

.restaurant-img-middle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 466px;
    margin: auto;

    img{
        height: 226px;
    }
}

/*special menu*/

.special-menu{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 1200px;
}

.menu-main{
    hr{
        width: 80px;
        height: 2px;
        background-color: #ff7404 !important;
        margin-top: 50px;

    }

    h4{
        font: 800 50px "Open Sans";
        color: black;
        padding: 20px 0 60px 0;
    }
}

.menu-card-bg1{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/menu1.webp") center/cover;
}

.menu-card-bg2{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/menu2.webp") center/cover;
}

.menu-card-bg3{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/menu3.webp") center/cover;
}

.menu-card-bg1, .menu-card-bg2, .menu-card-bg3 {
    height: 511px;
    width: 383px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p{
        font: 700 20px "Open Sans";
        background-color: #ff7404;
        color: #fff;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .4s;
    }

    h5{
        font: 700 30px "Open Sans";
        color: #fff;
        max-width: 500px;
        padding-top: 5px;
    }
}

.menu-card-bg1:hover, .menu-card-bg2:hover, .menu-card-bg3:hover{
    
    p{
        background-color: transparent;
        border: 2px solid #fff;
    }
}

.menu-cards{
    display: flex;
    justify-content: space-between;
    width: 1211px;
}

/*our menu*/

.our-menu-bg {
    clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
    background-color: #f8f9fa;
    padding: 100px 0 200px 0;
}

.line{
    width: 100px;
    height: 2px;
    background-color: #ff7404;
    border: 0;
}

.our-menu-title{
    
    h2{
        font: 800 50px "Open Sans";
        text-transform: uppercase;
        text-align: center;
        margin: 20px 0 100px 0;
    }
}

.our-menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.our-menu-content{
    background-color: #fff;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 243px;
    height: 254px;

    h2{
        font: 600 20px "Open Sans";
    }

    p{
        font: 500 15px "Open Sans";
        color: #868e96;
        line-height: 23px;
        padding: 10px 0;
    }

    h3{
        font: 600 28px "Open Sans";
        color: #ff7404;
    }
}

.our-menu-img{

    img{
        width: 274px;
        height: 254px;
        object-fit: cover;
    }
}

/*testimonial*/

.testimonial{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    h1{
        font: 800 50px "Open Sans";
        color: black;
        padding: 20px 0 100px 0;
    }
}

.testimonial-card{
    width: 635px;
}

.testimonial-text{
    font: 400 20px "Open Sans";
    line-height: 25px;
    color: black;
}

.testimonial-img{
    display: flex;
    padding-top: 20px;
    
    img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-sizing: border-box;
    }
}

.testimonial-card-info{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h6{
        font: 500 18px "Open Sans";
    }

    p{
        font: 400 14px "Open Sans";
        color: #ccc;
    }
}

/*blog*/

.blog-bg{
    clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
    background-color: #f8f9fa;
    padding: 100px 0 200px 0;
}

.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font: 800 50px "Open Sans";
    }
}

.blog-card{

    img{
        width: 540px;
        height: 300px;
        object-fit: cover;
    }
}

.blog-card-bottom{
    width: 480px;
    height: 191px;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #fff;

    h2{
        font: 500 20px "Open Sans";
        color: #ff7404;
    }

    a{
        font: 400 12px "Open Sans";
        padding: 6px 19px;
        text-decoration: none;
        letter-spacing: .2em;
        background-color: #ff7404;
        color: #fff;
        border-color: #ff7404;
        width: 94px;
        transition: .4s;
    }

    a:hover{
        border-color: #ff9037;
        background: #ff9037;
    }
}

.blog-date{
    font: 400 13px "Open Sans";
    color: #999;
    display: flex;

    i{
        padding-right: 5px;
    }
}

.blog-text{

    p{
        font: 400 15px "Open Sans";
        color: #868e96;
        line-height: 29px;
    }
}

/*footer*/

.footer-subscribe{
    text-align: center;

    h2{
        font: 600 16px "Open Sans";
        text-transform: capitalize;
    }

    p{
        color: #868e96;
        font: 500 15px "Open Sans";
        width: 450px;
        margin: 15px auto;
        line-height: 22px;
    }

    input{
        padding: 15px 19px;
        border: 1px solid #ced4da;
        width: 280px;
        outline: none;
        margin-right: 10px;
    }

    button{
        letter-spacing: 3px;
        background-color: #ff7404;
        text-transform: uppercase;
        padding: 15px 25px;
        font: 500 13px "Open Sans";
        border: none;
        color: #fff;
        margin-left: 10px;
        cursor: pointer;
    }
}

::placeholder{
    text-transform: capitalize;
    font: 500 16px "Open Sans";
    color: #868e96;
}


.footer-bottom{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-top: 100px;
}

.footer-icon{
    margin-top: 50px;
    color: #ff7404;
    
    i{
        transition: .4s;
        padding-right: 15px;
    }
}

.footer-icon i:hover{
    color: black;
}

.footer-about-us h2,.footer-hours h2,.footer-links h2,.contact-info{
    font: 600 16px "Open Sans";
    text-transform: capitalize;
    margin-bottom: 20px;
}

.contact-info{
    margin-top: 50px;

    article{
        margin-bottom: 10px;
    }

    a{
        text-decoration: none;
    }
}

.footer-hours p,.contact-info article{
    font: 500 15px "Open Sans";
}

.contact-info address,a{
    display: block;
    color: #868e96;
    font: 500 15px arial;
    margin-bottom: 20px;
}

.footer-hours{
    
    strong{
        display: block;
        margin-bottom: 10px;
        font: 400 15px "Open Sans";
    }

    span{
        color: #868e96;
    }
}

.footer-about-us{
    p{
        color: #868e96;
        font: 500 15px "Open Sans";
        width: 330px;
        line-height: 25px;
    }
}

.footer-links{
    a{
        display: block;
        color: #ff7404;
        font: 500 16px "Open Sans";
        text-transform: capitalize;
        margin-bottom: 20px;
        text-decoration: none;
        transition: .4s;
    }

    a:hover{
        color: #b75100;
    }
}

.footer-copyright{
    font: 400 15px "Open Sans";
    color: #868e96;
    display: flex;
    justify-content: center;

    i{
        color: #bc5148 !important;
    }

    strong{
        color: #ff7404 !important;
        transition: .4s;
        cursor: pointer;
    }

    strong:hover{
        color: #bc5148 !important;
    }
}